

	<div id="subheader" class="navbar" data-spy="affix">
		<div class="navbar-inner">						
			<button type="button" class="btn btn-navbar hidden-phone">
       			<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
           		<span class="icon-bar"></span>
	        </button>
	        
	        <button type="button" class="btn btn-navbar visible-phone">
       			<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
           		<span class="icon-bar"></span>
	        </button>
	        
	        <ul class="nav pull-right">
            	<li><a href ng-click="attendance();" title="{{'spa.subheader.attendance' | i18n}}"><i class="icon-external-link"></i> <span class="hidden-phone">{{'spa.subheader.attendance' | i18n}}</span></a></li>
   			</ul>

   			<form class="hidden-phone navbar-form pull-right">
				<input type="text" spa-select2="select2">
			</form>
		</div>

	</div>	
	