/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}



.navbar-nav>li>.dropdown-aluno {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #fff !important;
    border: 1px solid black;
}
