<div id="footer">
	<div class="container">
		<div class="row" style="background-color: #387CB6;">
			<div class="col-md-10">
				<address>
				   <strong>Universidade Federal do Rio Grande do Sul</strong><br>
						Av. João Pessoa, andar <br>
						90090-900 - Porto Alegre - RS - BRASIL
				</address>
			</div>
			<div class="col-md-2">
				<a href="http://www.ufrgs.br/ppgd" target="_blank">
					<img alt="PPGD" src="ppgd.png" style="margin-top: 40px;"></img>
				</a>
			</div>
		</div>
	</div>
</div>