<div class="container subheader">
  <div class="row">
	<div class="col-md-7">
		<div style="padding-top: 45px;">
			<h4 style="color: #e38d13;margin: 0;">Curso de especialização em</h4>
			<h3 style="margin-top: 7px;color: #387CB6;margin-bottom: 0;">Direito Tributário Aplicado</h3>
			<h5 style="margin-top: 10px;color: #387CB6;">Tributos em Espécie</h5>
		</div>
	</div>
	<div class="col-md-3" style="padding-top: 60px;font-size: 17px;color: #387CB6">
		<span class="glyphicon glyphicon-phone-alt" style="color: #e38d13"></span> (51) 3366-4455 <br/>
		<span class="glyphicon glyphicon-envelope" style="color: #e38d13"></span> dirtributario@ufrgs.br
	</div>
	<div class="col-md-2" style="padding-top: 20px;">
	  <img alt="UFRGS" src="logo_ufgrs.png" width="132" style="border: 5px solid#387CB6;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;"></img>
	</div>
  </div>
</div>